body
{

        background-image: url("Images/fond1.jpg");
}

body header {
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:60px;
    background-color:#DCDCDC;
}

body section {
    position: absolute;
    top: 80px;
    left: 250px;
    width:500px;
    height:440px;
    background-color:white;
    text-align: center;

	/*background: url("Images/new-baby4_red.jpg")  fixed no-repeat top right;*/
}

body nav {
    position: absolute;
    top: 80px;
    left: 20px;
    width:150px;
    height:440px;
    background-color:white;

	/*background: url("Images/new-baby4_red.jpg")  fixed no-repeat top right;*/
}

body footer {
    position: relative;
    top: 540px;
    left: 0px;
  	 width:100%;
    height:40px;
    background-color:#798081;
    font-size:7pt; 
}


h1
{
    font-family: Georgia ;
 	font-size: 40 ;
 	font-weight: bold;
 	 text-align: center;
 	 color: black;

}

p
{
    font-family: Arial ;
 	font-size: 14 ;
}


.imageflottante
{
    float: left;
}

.dessous
{
    clear: both;
}


/* Mise en forme du tableau */
table
{ 
    text-align: center;
}


#banniere_image
 {
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:60px;
    background-color:#DCDCDC;
}


#alert_succ

{  position: absolute;
   left: 100px;
   width:50%;
    text-align: center;

}

#conclusion

{  position: absolute;
    top: 250px;
  text-align: center;
   

}



#conteneur

{

    display: flex;

}


